body {	font-family: "PT Sans", sans-serif; 
	font-weight: 400;
	}

.border-solid{
  height: 0px;
  width: 1600px;
  padding: 0px;
  margin: 0 auto;
  border-top: 12px solid #2ecc71;
}
.main_picture{
  height: 600px;
  width: 1600px;
  
  margin: 0 auto;
 
  
  background-image: url(images/head.png);
  display: block;   
  position: relative;
  }
 .Notify {
    background: url("images/Notify.png");
    position: absolute;
    width: 183px;
    height: 83px;
    top: 167px;
    left: 330px;
}
.main_text h2 {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    position: absolute;
    width: 453px;
    height: 59px;
    top: 260px;
    left: 330px;
}
 a.ios{
  display:block;
  position: absolute;
  top: 390px;
  left: 330px;
  padding: 0px;
  height:53px;
  width:56px;
  background: url(images/images.png) no-repeat 0px 0px;
 }
 a.ios:hover{
  background-position: 0px -77px;
 }
  a.android{
  display:block;
  position: absolute;
  top: 390px;
  left: 390px;
  padding: 0px;
  height:53px;
  width:56px;
  background: url(images/images.png) no-repeat -68px 0px;}
  
  a.android:hover{
  background-position: -68px -77px;
 }
  /*#buttons a.android:active{
  background-position: -68px 0px;
 }*/
 a.windows{
  display:block;
  position: absolute;
  top: 390px;
  left: 450px;
  padding: 0px;
  height:53px;
  width:56px;
  background: url(images/images.png) no-repeat -135px 0px;}
 
 a.windows:hover{
  background-position: -135px -77px;
 }
 /*#buttons a.windows:active{
  background-position: 0px 0px;
 }*/
 #description{
  display:block;
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 1600px;
  background-color: #ffffff;
  text-align: center;
	 }
#settings {	 
  display:block;
  position: absolute;
  top: 70px;
  left: 300px;
  padding: 0px;
  height:100px;
  width:100px;
  background: url(images/images.png) no-repeat -235px -165px;}
 #settings h3{
  display: block;
  position: absolute;
  top: 100px;
  left: -10px;
  padding: 0px;
  width: 140px;
  }
  #settings p{
  display: block;
  position: absolute;
  top: 150px;
  left: -120px;
  padding: 0px;
  width: 350px;
  color:#666666;
  }
  #design {	 
  display:block;
  position: absolute;
  top: 70px;
  left: 760px;
  padding: 0px;
  margin:auto;
  height:100px;
  width:100px;
  background: url(images/images.png) no-repeat -665px -165px;
  }
 #design h3{
  display: block;
  position: absolute;
  top: 100px;
  left: -10px;
  padding: 0px;
  width: 140px;
  }
  #design p{
  display: block;
  position: absolute;
  top: 150px;
  left: -120px;
  padding: 0px;
  width: 350px;
  color:#666666;
  }
   #audience {	 
  display:block;
  position: absolute;
  top: 70px;
  left: 1220px;
  padding: 0px;
  height:100px;
  width:100px;
  background: url(images/images.png) no-repeat -1095px -165px;}
  #audience h3{
  display: block;
  position: absolute;
  top: 100px;
  left: -40px;
  padding: 0px;
  width: 200px;
  }
  #audience p{
  display: block;
  position: absolute;
  top: 150px;
  left: -120px;
  padding: 0px;
  width: 350px;
  color:#666666;
  }
  #media {
  display:block;
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 1600px;
  background-color: #e3e3e3;
  text-align: center;
	 }
  #updates h3{
  display: block;
  position: absolute;
  top: 50px;
  left: 175px;
  padding: 0px;
  width: 280px;
  }
  #updates p{
  display: block;
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 0px;
  width: 490px;
  color:#666666;
  text-align:left;
  }
  input[type="text"]{
  display: block;
  position: absolute;
  top:220px;
  left:200px;
  border: 1px solid grey;
  border-radius: 12px;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;;
  height: 28px; 
  width: 320px;
  font-size: 16px;
  outline: none;
  padding:10px 0px 10px 20px;
         }
  a.button {
  display: block;
  position: absolute;
  top:220px;
  left:520px;
  border: 1px solid grey;
  border-radius: 12px;
  background: #2ecc71;
  height: 28px;
  width: 100px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  padding:10px;
  outline: none;
  }
a.button:hover { background: rgba(168,207,147,1); }
.video{
  position: relative;
  height: 350px;
  width: 550px;
  top: 25px;
  left: 950px;
   background: url(images/video.png);
    }
   #social{
  display:block;
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 1600px;
  background-color: #ffffff;
  text-align: center;
	}
  #comment{
	  color:#666666;
    
  }
  #comment p{
	  display:block;
    position: absolute;
    font-style: italic;
	  top:30px;
	  left: 490px;
	  height: 50px;
	  width: 620px;
  }
  #faces {
	 display:block;
   position: absolute;
	 left:150px;
	 top:125px;
	 height:50px;
	 width:1250px;
	  }

  #faces img:hover {opacity: 0.5;
	  }
  #soc_buttons h3{
  display: block;
  position: absolute;
  left: 700px;
  top: 200px;
  padding: 0px;
  width: 200px;
  text-align: center;
    }
  #soc_buttons p{
  display: block;
  position: absolute;
  left: 550px;
  top: 250px;
  padding: 0px;
  width: 500px;
  color:#666666;
  }
  #soc_buttons a.twitter{
  display:block;
  position: absolute;
  top: 320px;
  left: 680px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat 1px -273px;
 }
 #soc_buttons a.twitter:hover{
  background-position: 1px -326px;
 }
 #soc_buttons a.facebook{
  display:block;
  position: absolute;
  top: 320px;
  left: 720px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat -43px -273px; 
 }
 #soc_buttons a.facebook:hover{
  background-position: -43px -326px;
	 }
 #soc_buttons a.pinterest{
  display:block;
  position: absolute;
  top: 320px;
  left: 760px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat -87px -273px;
 }
 #soc_buttons a.pinterest:hover{
  background-position: -87px -326px;
  }
  #soc_buttons a.google{
  display:block;
  position: absolute;
  top: 320px;
  left: 800px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat -130px -273px;
 }
 #soc_buttons a.google:hover{
  background-position: -130px -326px;
 }
  #soc_buttons a.linkedin{
  display:block;
  position: absolute;
  top: 320px;
  left: 842px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat -175px -273px;
 }
 #soc_buttons a.linkedin:hover{
  background-position: -175px -326px;
 }
 #soc_buttons a.youtube{
  display:block;
  position: absolute;
  top: 320px;
  left: 882px;
  padding: 0px;
  height:36px;
  width:36px;
  background: url(images/images.png) no-repeat -218px -273px;
 }
 #soc_buttons a.youtube:hover{
  background-position: -218px -326px;
 }
 #footer{
	 bottom: -150px;
	 padding: 0px;
	 height: 150px;
	 width: 100%;
	 position: absolute;
	 background-color: #e3e3e3;
	 text-align: center;
	 
 }
 #footer ul {
	 padding-top: 55px;
	 font-size: 14px;
	 text-decoration: none;
 }
 #footer a.contact {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.contact:hover {
	  color: #2ecc71;
 }
 #footer a.download {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.download:hover {
	  color: #2ecc71;
 }
 #footer a.press {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.press:hover {
	  color: #2ecc71;
 }
 #footer a.email {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.email:hover {
	  color: #2ecc71;
 }
 #footer a.support {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.support:hover {
	  color: #2ecc71;
 }
 #footer a.policy {
	 padding: 15px;
	 color: #666666;
	 text-decoration: none;
 }
 #footer a.policy:hover {
	  color: #2ecc71;
 }
